@echo off
setlocal
set BDSPROJECTGROUPDIR=%~dp0
%~d0
cd %~dp0

call rsvars

echo ================== BUILD APP ===============================
for /R %%F in (*.groupproj) do (
	msbuild /nologo /v:quiet /filelogger /flp:v=detailed /p:BuildGroup=All %%F
)

echo =================== GEN DOC ================================
for /R %%F in (*.dproj) do (
	gendoccli -odoc %%F
)

cd %BDSPROJECTGROUPDIR%